* {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

 @font-face {
  font-family: "Segoe UI";
  src: url(./fonts/SegoeUI-Bold.ttf);
  src: url(./fonts/SegoeUI-Semibold.ttf);
  src: url(./fonts/SegoeUI.ttf);
} 


body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  margin: 0px auto;
  width: 1920;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1140px;
}

.MuiBox-root-9,
.MuiBox-root-27,
.MuiBox-root-12,
.MuiBox-root-18,
.MuiBox-root-20,
.MuiBox-root-22 {
  padding: 0px !important;
}

.Globle-Flex-Row {
  display: flex;
  flex-direction: row;
}
.Globle-Flex-Column {
  display: flex;
  flex-direction: column;
}

.btn-border {
  border-right: 1px solid #fff;
  padding-right: 22px;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 7px;
}

.just-content {
  justify-content: space-between;
}
.width-100 {
  width: 100%;
}

.expand-icon {
}
.MuiAccordionDetails-root {
  padding: 0 !important;
}

.MuiButton-label {
  text-transform: capitalize;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.makeStyles-icon-7 {
  border: 1px solid #dcdcdc;
  box-shadow: none !important;
}

.PrivateTabIndicator-root-7 {
  height: 0 !important;
}
.makeStyles-formControl-7 {
  margin: 0 !important;
  margin-top: -23px !important;
}
.invoice-list-contenair .MuiButton-label {
  color: #b1b1b1;
}
.top-bar-invoice .MuiButton-label {
  color: #b1b1b1;
}
.top-bar-invoice .MuiFormLabel-root {
  font-size: 13px;
  width: 174px;
}
.span-model {
  border-bottom: 1px solid #edf2f9;
  width: 823px;
  height: 37px;
  margin: 10px 0;
  margin-bottom: 6px;
}
.span-model hr {
  width: 823vw;
  margin: 10px 0;
}
.span-model p {
  padding-left: 33px;
  padding-top: 10px;
}
.typography-model {
  margin: 20px 0;
}
.btn {
  width: 117px;
  height: 29px;
  background: #418bca;
  margin-left: 696px;
  margin-top: 5px;
  border-radius: 2px;
  color: #fff;
}

.MuiAccordionSummary-root.Mui-expanded,
.MuiAccordionSummary-root {
  max-height: 38px !important;
  min-height: 38px !important;
}
.makeStyles-heading-7 {
  font-size: 13px !important;
  font-weight: normal !important;
}
.MuiAccordionSummary-content {
  margin: 0 !important;
}
.MuiSvgIcon-root {
  font-size: 14px !important;
}
.MuiInputBase-root {
  color: #7d7d7d !important;
  font-size: 13px !important;
}

.global-flexrow .MuiSvgIcon-root {
  font-size: 1vw;
  margin-top: 3px;
  margin-right:10px
}
label + .MuiInput-formControl {
  margin-top: -38px;
}
.sidebar-settings .MuiSvgIcon-root {
  font-size: 1vw;
}
.MuiTypography-body1{
  font-family: "Segoe UI" !important;
}
.icon-email{
  margin-top: 12px !important;
}
.MuiTypography-colorTextSecondary{
  margin-left: 11px !important;
}
.MuiSvgIcon-root{
  font-size:21px !important;
}
.expand-icon{
  margin-bottom: -5px !important;
}
.MuiMenuItem-root{
  color:#7d7d7d !important;
}